I am looking forword to make my app flow like:
HomePage
→ shows categories
→ click category
→ CategoryPage shows meals
→ click meal
→ RecipeDetail loads
→ click favorite
→ Favorites page shows saved items

///////////////////////////////////////////////////////////
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
